/* Color Theme Swatches in Hex 
base
.Crack-4-hex { color: #585859; } darkgray
.Crack-5-hex { color: #F2F2F2; } lightgray

accent
.Crack-1-hex { color: #F22E3E; } red
.Crack-2-hex { color: #A673D9; } purple

.Crack-3-hex { color: #E7DCF2; } light purple
*/

.main {
  display: block;
  text-align: center;
  padding: 10%;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: center;
}

