.main {
  text-align: center;
}


.dice {
  display: inline-flex;
  align-content: center;
  
}

.box {
 width: 120px;
 height: 120px;
 margin: 0 15px;
 border-radius: 25%;
}

.box span {
  font-weight: 700; 
  font-size: 35px;
}


.buttons {
  margin: 15px auto;
}

button {
  background-color: aquamarine;
}

img {
  width: 150px;
  border-radius: 10px;
}

.diceIMG {
  width: 95%;
  height: 95%;
  border-radius: 25px;
}
